<tr tabindex="0" class="data-row" {{on "click" this.handleClick}}>
  <td>
    <input
      aria-label="select"
      label="checkbox"
      type="checkbox"
      disabled={{this.isDisabled}}
      checked={{this.isChecked}}
      {{on "change" this.handleCheckboxChanged}}
    />
  </td>
  <td class="data-name">{{@name}}</td>
  <td>{{@dataRow.device}}</td>
  <td>{{@dataRow.path}}</td>
  <td>
    {{#if (eq @status "available")}}
      <i id="available-status" class="fas fa-check-circle icon"></i>
    {{else}}
      <i id="scheduled-status" class="fa-solid fa-clock icon"></i>
    {{/if}}
    {{@status}}
  </td>
</tr>
{{#if this.showModal}}
  <CustomModal
    @title="Download Unavailable"
    @message="Sorry, download is not available at the moment."
    @onClose={{this.closeModal}}
  />
{{/if}}