<label for="select-all">Select All</label>
<input type="checkbox" id="select-all" checked={{this.checkedStatus}} indeterminate={{this.someChecked}} {{on "change" this.selectAll}}  >

<table>
  <thead>
    <tr>
      <th></th> {{!-- Empty header for checkbox --}}
      <th>Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each @model as |dataRow|}}
     <DataRow @name="{{dataRow.name}}" @status="{{dataRow.status}}" @dataRow={{dataRow}} @updateChecked={{this.updateChecked}}/>
    {{/each}}
    
  </tbody>
</table>